build
node_modules
test-ai-classifier.code-workspace
model/obj_detection_model
build-js
clients/*/classifier.proto
clients/java/.idea
clients/java/.gradle
clients/java/*/build
.make.*
.venv
*.pyc
*.pytest_cache
clients/python/build
clients/python/dist
clients/python/*.egg-info
